.main {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: minmax(25ch, 1fr) minmax(60ch, 4fr);
	width: 100%;
}

.main > header {
	grid-row: 1;
	grid-column: 1 / -1;
}

.main > article {
	grid-row: 2;
	grid-column: 2;
	margin-top: var(--size-8);
}

.nav {
	grid-row: 2;
	grid-column: 1;
	position: sticky;
	top: 0;
	height: 100vh;
	border-right: var(--border-size-2) solid var(--surface-3);
	box-shadow: var(--shadow-1);
	margin-right: var(--size-4);
	padding: var(--size-fluid-1);
	overflow-y: auto;
	color: var(--gray-5);
}

.nav li {
	margin-left: calc((var(--toc-level) - 2) * 0.75em);
}

.nav li[data-level='2'] {
	color: var(--gray-2);
	font-size: var(--font-size-2);
}

.nav li[data-level='2']:not(:first-of-type) {
	margin-top: var(--size-2);
}

.nav a {
	font-size: var(--font-size-1);
	margin-left: var(--size-2);
}

@media screen and (max-width: 1024px) {
	.main {
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;
	}

	.main > article {
		grid-column: 1;
	}

	.nav {
		visibility: hidden;
	}
}
