{
    "svelteSortOrder": "scripts-markup-styles",
    "svelteStrictMode": true,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true,
    "useTabs": false,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 150,
    "plugins": [
        "prettier-plugin-svelte"
    ]
}
