:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
}

reel-l {
    display: flex;
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
    scrollbar-color: var(--color-light) var(--color-dark);
}

reel-l > * {
    flex: 0 0 var(--item-width);
}

reel-l > img {
    height: 100%;
    flex-basis: auto;
    width: auto;
}

reel-l::-webkit-scrollbar {
    height: 1rem;
}

reel-l::-webkit-scrollbar-track {
    background-color: var(--color-dark);
}

reel-l::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
    background-image: linear-gradient(
        var(--color-dark) 0,
        var(--color-dark) 0.25rem,
        var(--color-light) 0.25rem,
        var(--color-light) 0.75rem,
        var(--color-dark) 0.75rem
    );
}
