.pagination {
	display: flex;
	flex-flow: row wrap;
	gap: var(--space-s);
}

.pagination-item {
	border: none;
	background-color: var(--surface-3);
}

.pagination-item.active {
	background-color: var(--accent);
}
