.slidy-autoplay {
	position: absolute;
	bottom: 1em;
	right: calc(1em);
	display: grid;
	grid-template: 1fr / 1fr;
	place-content: center;
	place-items: center;
	width: var(--slidy-autoplay-control-size, 2.25em);
	height: var(--slidy-autoplay-control-size, 2.25em);
}

.slidy-autoplay > svg {
	width: var(--slidy-autoplay-control-size, 2.25em);
	height: var(--slidy-autoplay-control-size, 2.25em);
}

.slidy-autoplay > * {
	grid-row: 1;
	grid-column: 1;
}

.slidy-autoplay > button {
	pointer-events: all;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: inherit;
	fill: var(--slidy-arrow-icon-color, currentColor);
	background-color: var(--slidy-counter-bg, #4e4e4ebf);
	padding: 0.25em;
	border-radius: 1em;
	border: none;
	cursor: pointer;
	outline: none;
}

.slidy-autoplay > button,
.slidy-autoplay > button svg {
	width: calc(0.9 * var(--slidy-autoplay-control-size, 2.25em));
	height: calc(0.9 * var(--slidy-autoplay-control-size, 2.25em));
}

.slidy-autoplay > button:disabled {
	opacity: 0.75;
	cursor: not-allowed;
}

.slidy-autoplay > button:focus-visible {
	outline: 2px dashed var(--slidy-focus-ring-color, #c9c9c9e6);
	outline-offset: calc(0.25 * var(--slidy-autoplay-control-size, 2.25em));
	border-radius: 50%;
}

.slidy-autoplay-indicator {
	stroke-dasharray: var(--slidy-autoplay-stroke-length);
	stroke-dashoffset: var(--slidy-autoplay-stroke-length);
	animation: slidy-autoplay-indicator var(--slidy-autoplay-interval) linear forwards infinite;
}

.slidy-autoplay-indicator.stop,
.slidy-autoplay-indicator.pause {
	animation: unset;
}

@keyframes slidy-autoplay-indicator {
  to {
    stroke-dashoffset: 0;
  }
}