@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

:where(li) {
    padding-inline-start: 0;
}

header,
footer,
article {
    margin: var(--size-fluid-2) auto;
    width: fit-content;
}

article {
    display: grid;
    gap: var(--size-3);
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--accent);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    box-sizing: border-box;
    color: var(--text-2);
    /* color: var(--color); */
    background-color: var(--surface-1);
    /* border: 1px solid transparent; */
    /* border-radius: var(--radius-conditional-3); */
    accent-color: var(--accent);
}

input:disabled {
    color: #ccc;
}

button {
    /* color: var(--color); */
    /* background-color: var(--back); */
    outline: none;
    cursor: pointer;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    /* background-color: var(--color); */
    /* border-color: var(--accent); */
    /* color: var(--back); */
}

button:focus {
    /* border-color: var(--accent); */
}

nav,
form {
    /* margin: 1rem 0; */
    /* will-change: transform, border-color, color; */
}

b {
    color: var(--accent);
}

nav#dots {
    display: flex;
    overflow-x: scroll;
    gap: 0.5ex;
}

/* Hide scrollbar for Chrome, Safari and Opera */
nav#dots::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
nav#dots {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    gap: 0.25em;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form > * {
    display: flex;
}

label {
    display: flex;
    flex-flow: column;
    color: var(--surface-4);
}

select {
    appearance: none;
    -webkit-appearance: none;
}

h3 {
    position: relative;
}

h3 sub {
    position: absolute;
    right: 0;
    bottom: -1rem;
    font-size: small;
    font-weight: 300;
    display: inline;
}

h3 sub#stats {
    right: auto;
    left: 0;
}

header h3,
header p {
    margin: 0;
    display: inline;
    padding: 0;
    bottom: 9px;
}

header p {
    font-size: 1;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 1rem;
    margin: var(--size-fluid-2);
    width: auto;
}

:root {
    /* --color: #0a0a0a; */
    /* --back: white; */
    --accent: #ff3e80;
    /* --shadow: whitesmoke; */
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        /* --color: #0a0a0a; */
        /* --back: white; */
        /* --accent: #FF3E80; */
        /* --shadow: whitesmoke; */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        /* --color: white; */
        /* --back: #0a0a0a; */
        /* --accent: #FF3E80; */
        /* --shadow: #181818; */
    }
}

[scheme='dark'] {
    color-scheme: dark;
    /* --color: white; */
    /* --back: #0a0a0a; */
    /* --accent: #FF3E80; */
    /* --shadow: #181818; */
}

[scheme='light'] {
    color-scheme: light;
    /* --color: #0a0a0a; */
    /* --back: white; */
    /* --accent: #FF3E80; */
    /* --shadow: whitesmoke; */
}

.active,
/* :active, */
/* :focus, */
:checked {
    color: var(--accent);
    accent-color: var(--accent);
    /* outline-color: var(--accent) !important; */
    /* will-change: color; */
}

:disabled {
    color: inherit;
    border-color: inherit;
    cursor: inherit;
}

.active:not(li, :disabled) {
    /* border-color: var(--accent) !important; */
}

main {
    /* height: var(--height, 375px); */
    /* margin: var(--gap, 1rem) auto; */
    /* overflow: hidden; */
}

section {
    height: 100%;
    width: 100%;
    position: relative;
}

#loader,
#info {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#node,
nav#thumbs {
    list-style: none;
    margin: auto;
    /* padding: calc(var(--gap) / 1.5) 0; */
    padding: 0;
    display: flex;
    flex-flow: var(--flow) nowrap;
    gap: var(--gap);
    width: 100%;
    height: 100%;
    height: var(--height, 375px);
    -webkit-tap-highlight-color: transparent;
    /* will-change: transform; */
}

#node li,
nav#thumbs button {
    flex: 1 0 var(--width, auto);
    width: var(--width, auto);
    height: 100%;
    max-width: 85%;
    max-height: 100%;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    overflow: hidden;
    box-shadow: var(--shadow-3);
    background: var(--surface-1);
    border-radius: var(--radius-3);
    /* will-change: transform; */
    /* backface-visibility: hidden; */
    /* transform-style: preserve-3d; */
}

#node li {
    max-height: calc(100% - (var(--gap) * 2));
}

nav#thumbs {
    height: 100%;
    gap: 1rem;
    justify-content: center;
    max-width: max-content;
    flex-flow: row;
}

nav#thumbs button {
    flex: 1 0 100px;
    width: 100px;
    height: 100px;
    box-shadow: none;
    margin: 0;
    background-size: cover;
    background-blend-mode: luminosity;
    opacity: 0.25;
}

nav#thumbs button:hover,
nav#thumbs button.active {
    opacity: 1;
    background-blend-mode: normal;
}

#node li.active {
    /* box-shadow: var(--shadow-3); */
    /* --shadow: var(--accent); */
}

#node li:before {
    content: attr(id);
    position: absolute;
    z-index: 1;
    padding: 0.5rem 1rem;
    bottom: 0;
    /* will-change: transform; */
}

#node li img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* iOS */
@supports (-webkit-touch-callout: none) {
    #node li img {
        /* width: auto; */
        /* will-change: transform; */
        /* pointer-events: auto; */
    }

    #node li:before {
        /* will-change: transform; */
    }
}

/* MacOS */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #node li img {
        /* width: auto; */
        /* will-change: transform; */
    }

    #node li:before {
        /* will-change: transform; */
    }
}

/* ICONS */
.icon::after,
.icon::before {
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon-refresh::after {
    border: 0.2em solid currentColor;
    border-top-color: currentcolor;
    border-left-color: currentcolor;
    border-left-color: transparent;
    border-top-color: transparent;
    height: 0;
    left: 80%;
    top: -0.25em;
    width: 0;
}

.icon-refresh::before {
    border: 0.12rem solid currentColor;
    border-right-color: currentcolor;
    border-radius: 50%;
    border-right-color: transparent;
    height: 0.75em;
    width: 0.75em;
}

.icon {
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: auto;
    position: relative;
    text-indent: -9999px;
    vertical-align: super;
    width: 1em;
}
