/* variation fonts */
@font-face {
	font-family: 'Montserrat-VF';
	src: url('/fonts/Montserrat-VF.woff2') format('woff2-variations');
}

/* fallbacks, regular */
@font-face {
	font-family: 'Montserrat-Medium-Regular';
	src: url('/fonts/Montserrat-Medium-Regular.woff2') format('woff2');
}

@supports (font-variation-settings: normal) {
	:root {
		--font-main: 'Montserrat-VF', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
			Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	}
}
