slidy-element {
    display: flex;
    flex-flow: var(--flow);
    gap: var(--gap, 1rem);
    width: 100%;
    height: var(--height, 20rem);
}

slidy-element > * {
    flex: 0 0 var(--width, auto);
    width: var(--width, auto);
    height: 100%;
}
