.main {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: minmax(60ch, 4fr) 25ch;
	width: 100%;
}

.main > header {
	grid-row: 1;
	grid-column: 1 / -1;
	margin-bottom: var(--size-8);
}

.main > article {
	grid-row: 2;
	grid-column: 1;
}

.nav {
	grid-row: 2;
	grid-column: 2;
	position: sticky;
	top: 1.5rem;
	height: fit-content;
	max-width: var(--max-inline-size);
	border-radius: var(--radius-conditional-2);
	border: var(--border-size-2) solid var(--surface-3);
	box-shadow: var(--shadow-1);
	margin-right: var(--size-4);
}

.nav section {
	padding: var(--size-2) var(--size-3);
}

.nav section:not(:last-child) {
	border-bottom: var(--border-size-2) solid var(--surface-3);
}

.nav h2 {
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-5);
}

.nav a {
	font-size: var(--font-size-1);
	margin-left: var(--size-2);
}