.slidy-arrow {
	height: 100%;
	width: auto;
	padding: calc(var(--slidy-arrow-size, 16px) * 0.5) !important;
	z-index: 2;
	background-color: unset;
}

.slidy-arrow:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.slidy-arrow-icon {
	height: var(--slidy-arrow-size, 24px);
	width: var(--slidy-arrow-size, 24px);
	fill: white;
	pointer-events: none;
	transition: transform 0.15s ease-in-out;
	background-color: rgb(59 78 78 / 0.75);
	border-radius: 50%;
}

.slidy-arrow:focus-visible .slidy-arrow-icon {
	outline: 1.5px solid rgb(216 201 201 / 0.75);
	outline-offset: 2px;
	border-radius: 50%;
}

.slidy-arrow:active .slidy-arrow-icon {
	transform: scale(0.9);
}

.slidy-arrow.prev {
	grid-area: prev-slide;
}

.slidy-arrow:not(.prev) {
	grid-area: next-slide;
	transform: rotate(180deg);
}

.slidy-arrow.prev.vertical svg {
	transform: rotate(90deg);
}

.slidy-arrow.vertical:not(.prev) svg {
	transform: rotate(90deg);
}

@media (hover: hover) {
	.slidy-arrow:hover {
		background-color: rgb(59 78 78 / 0.33);
	}
}
