---
title: slidy/easing
description: Predefined set of custom easing functions.
---

Simple easings function for inertion scrolling.

Try the [DEMO]

## Getting started

The package is available via [NPM]:

```sh
npm i -D @slidy/easing
```

or from [CDN]:

```html
<script src="https://unpkg.com/@slidy/easing"></script>
```