@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

header,
footer {
    margin: var(--size-fluid-2) auto;
    width: fit-content;
}

article {
    display: grid;
    gap: var(--size-3);
    margin-inline: max(var(--size-fluid-2), 50% - 800px/2);
}

a {
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--accent);
}

b {
    color: var(--accent);
}

input,
button,
select,
textarea {
    color: var(--text-2);
    background-color: var(--surface-1);
    accent-color: var(--accent);
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    gap: 0.25em;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form > * {
    display: flex;
}

label {
    display: flex;
    flex-flow: column;
    color: var(--surface-4);
}

select {
    appearance: none;
    -webkit-appearance: none;
}

h3 {
    position: relative;
}

h3 sub {
    position: absolute;
    right: 0;
    bottom: -1rem;
    font-size: small;
    font-weight: 300;
    display: inline;
}

h3 sub#stats {
    right: auto;
    left: 0;
}

header h3,
header p {
    margin: 0;
    display: inline;
    padding: 0;
    bottom: 9px;
}

header p {
    font-size: 1;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 1rem;
    margin: var(--size-fluid-2);
    width: auto;
}

:root {
    /* --color: #0a0a0a; */
    /* --back: white; */
    --accent: #ff3e80;
    /* --shadow: whitesmoke; */
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        /* --color: #0a0a0a; */
        /* --back: white; */
        /* --accent: #FF3E80; */
        /* --shadow: whitesmoke; */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        /* --color: white; */
        /* --back: #0a0a0a; */
        /* --accent: #FF3E80; */
        /* --shadow: #181818; */
    }
}

[scheme='dark'] {
    color-scheme: dark;
    /* --color: white; */
    /* --back: #0a0a0a; */
    /* --accent: #FF3E80; */
    /* --shadow: #181818; */
}

[scheme='light'] {
    color-scheme: light;
    /* --color: #0a0a0a; */
    /* --back: white; */
    /* --accent: #FF3E80; */
    /* --shadow: whitesmoke; */
}

.active,
/* :active, */
/* :focus, */
:checked {
    color: var(--accent);
    accent-color: var(--accent);
    /* outline-color: var(--accent) !important; */
    /* will-change: color; */
}

:disabled {
    color: inherit;
    border-color: inherit;
    cursor: inherit;
}

section {
    height: 100%;
    width: 100%;
    position: relative;
}

#loader,
#info {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#node,
#thumbs {
    align-items: center;
    justify-content: center;
    padding: var(--gap, 1rem) 0;
}

#node > *,
#thumbs > * {
    max-width: 85%;
    box-shadow: var(--shadow-3);
    background: var(--surface-1);
    border-radius: var(--radius-3);
}

#thumbs {
    padding: 0;
    margin: var(--gap, 1rem) 0;
}

#thumbs button {
    box-shadow: none;
    background-size: cover;
    background-blend-mode: luminosity;
    opacity: 0.25;
}

#thumbs button:hover,
#thumbs button.active {
    opacity: 1;
    background-blend-mode: normal;
}

img {
    object-fit: cover;
    height: 100%;
}

/* ICONS */
.icon::after,
.icon::before {
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon-refresh::after {
    border: 0.2em solid currentColor;
    border-top-color: currentcolor;
    border-left-color: currentcolor;
    border-left-color: transparent;
    border-top-color: transparent;
    height: 0;
    left: 80%;
    top: -0.25em;
    width: 0;
}

.icon-refresh::before {
    border: 0.12rem solid currentColor;
    border-right-color: currentcolor;
    border-radius: 50%;
    border-right-color: transparent;
    height: 0.75em;
    width: 0.75em;
}

.icon {
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: auto;
    position: relative;
    text-indent: -9999px;
    vertical-align: super;
    width: 1em;
}

#github {
    width: 2rem;
    height: 2rem;
    background-color: var(--accent);
    mask-image: url(assets/gh.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url(assets/gh.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}
