.slidy-thumbnails {
	--slidy-slide-aspect-ratio: 1 / 1;
	--slidy-height: var(--slidy-thumbnail-size, 50px);
	--slidy-slide-gap: 0.5rem;
	--slidy-width: auto;

	grid-area: thumbnail;
	min-height: 0;
	position: relative;
	justify-self: center;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: var(--slidy-slide-gap, 1rem);
	height: var(--slidy-height, 100%);
	width: var(--slidy-width, 100%);
	padding: 5px;
	max-width: 100%;
	overscroll-behavior: contain;
}

.slidy-thumbnail {
	display: flex;
	place-content: center;
	align-items: center;
	flex-shrink: 0;
	width: var(--slidy-slide-width, auto);
	height: var(--slidy-slide-height, 100%);
	aspect-ratio: var(--slidy-slide-aspect-ratio, unset);
	transition: opacity var(--slidy-duration, 450);
	max-width: 100%;
}

.slidy-thumbnail.bg {
	background-image: var(--_slidy-slide-bg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: var(--slidy-slide-object-fit, cover);
	background-color: transparent;
}

.slidy-thumbnail:not(.active) {
	transition: opacity 0.25s linear;
	opacity: 0.35;
}

.slidy-thumbnail,
.slidy-thumbnail img {
	border-radius: var(--slidy-thumbnail-radius, 0.5rem);
}

.slidy-thumbnail:focus-visible {
	outline: 2px solid white;
	outline-style: dashed;
	outline-offset: 2px;
	opacity: 0.75;
}

@media (hover: hover) {
	.slidy-thumbnail:not(.active):hover {
		opacity: 0.75;
	}
}